.card {
perspective: 1000px;
cursor: pointer;
transition: transform 1s;
transform-style: preserve-3d;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.card.flipped {
transform: rotateY( 180deg );
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.card-front, .card-back {
position: absolute;
backface-visibility: hidden;
display: flex;
justify-content: center;
align-items: center;
}

.card-back {
transform: rotateY(180deg);
}

.mat-yellow {
  background-color: #fde047 !important;
}