<section class="bg-blue-400 min-h-[calc(100vh-40px)]">
  <div class="flex justify-center text-black text-xl px-8 pt-8 relative">
    <div class="max-w-[600px]">
      {{ "gimmicks.overview.header1" | translate
      }}{{ "gimmicks.overview.header3" | translate
      }}{{ "gimmicks.overview.header2" | translate }}
    </div>
  </div>
  <div class="relative flex justify-center text-xl py-4">
    <a class="text-red-600 hover:text-red-800" href="https://github.com/benjaminmilcic/aznw-routes" target="_blank"
      >Here you will find the source code of this website.</a
    >
  </div>
  <div class="flex flex-wrap justify-center relative">
    <div
      class="bg-gradient-to-b from-yellow-400 to-blue-600 text-white rounded-lg sm:h-[410px] p-8 m-8 w-72 shadow-lg"
    >
      <div class="flex flex-col justify-between h-full">
        <div>
          <div class="flex justify-between items-center mb-6">
            <div class="text-xl font-bold">
              {{ "gimmicks.menu.map" | translate }}
            </div>
            <i class="fa-solid fa-map text-4xl text-yellow-100"></i>
          </div>
          <div class="mb-2 text-gray-200">
            {{ "gimmicks.overview.elements" | translate }}:
          </div>
          <ul class="mb-8 text-sm sm:text-base text-gray-200">
            <li>Google Maps API</li>
            <li>{{ "gimmicks.overview.searchTypeahead" | translate }}</li>
            <li>Drag and drop</li>
            <li>{{ "gimmicks.overview.table" | translate }}</li>
            <li>{{ "gimmicks.overview.resizable" | translate }}</li>
            <li>Responsive design</li>
          </ul>
        </div>
        <div class="flex justify-end">
          <button
            class="bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-1 px-2 rounded text-sm mt-1 cursor-pointer"
            [routerLink]="['/gimmicks/map']"
          >
            {{ "gimmicks.overview.open" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div
      class="bg-gradient-to-b from-red-400 to-blue-600 text-white rounded-lg sm:h-[410px] p-8 m-8 w-72 shadow-lg"
    >
      <div class="flex flex-col justify-between h-full">
        <div>
          <div class="flex justify-between items-center mb-6">
            <div class="text-xl font-bold">
              {{ "gimmicks.menu.calendar" | translate }}
            </div>
            <i class="fa-solid fa-calendar text-4xl text-red-100"></i>
          </div>

          <div class="mb-2 text-gray-200">
            {{ "gimmicks.overview.elements" | translate }}:
          </div>
          <ul class="mb-8 text-sm sm:text-base text-gray-200">
            <li>SVG</li>
            <li>Popup modal</li>
            <li>Bottom drawer</li>
            <li>{{ "gimmicks.overview.scratchCard" | translate }}</li>
            <li>{{ "gimmicks.overview.print" | translate }}</li>
            <li>Responsive design</li>
          </ul>
        </div>
        <div class="flex justify-end">
          <button
            class="bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-1 px-2 rounded text-sm mt-1 cursor-pointer"
            [routerLink]="['/gimmicks/calendar']"
          >
            {{ "gimmicks.overview.open" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div
      class="bg-gradient-to-b from-green-400 to-blue-600 text-white rounded-lg sm:h-[410px] p-8 m-8 w-72 shadow-lg"
    >
      <div class="flex flex-col justify-between h-full">
        <div>
          <div class="flex justify-between items-center mb-6">
            <div class="text-xl font-bold">
              {{ "gimmicks.menu.guestbook" | translate }}
            </div>
            <i class="fa-solid fa-book text-4xl text-green-100"></i>
          </div>
          <div class="mb-2 text-gray-200">
            {{ "gimmicks.overview.elements" | translate }}:
          </div>
          <ul class="mb-8 text-sm sm:text-base text-gray-200">
            <li>{{ "gimmicks.overview.youtubePlayer" | translate }}</li>
            <li>Popup Modal</li>
            <li>{{ "gimmicks.overview.editor" | translate }}</li>
            <li>Google Firebase Storage</li>
            <li>PHP API</li>
            <li>Responsive design</li>
          </ul>
        </div>
        <div class="flex justify-end">
          <button
            class="bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-1 px-2 rounded text-sm mt-1 cursor-pointer"
            [routerLink]="['/gimmicks/guestbook']"
          >
            {{ "gimmicks.overview.open" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div
      class="bg-gradient-to-b from-orange-400 to-blue-600 text-white rounded-lg sm:h-[410px] p-8 m-8 w-72 shadow-lg"
    >
      <div class="flex flex-col justify-between h-full">
        <div>
          <div class="flex justify-between items-center mb-6">
            <div class="text-xl font-bold">
              {{ "gimmicks.menu.charts" | translate }}
            </div>
            <i class="fa-solid fa-chart-simple text-4xl text-orange-100"></i>
          </div>
          <div class="mb-2 text-gray-200">
            {{ "gimmicks.overview.elements" | translate }}:
          </div>
          <ul class="mb-8 text-sm sm:text-base text-gray-200">
            <li>{{ "gimmicks.overview.charts" | translate }}</li>
            <li>{{ "gimmicks.overview.imageManipulation" | translate }}</li>
            <li>{{ "gimmicks.overview.fileUpload" | translate }}</li>
            <li>Responsive design</li>
          </ul>
        </div>
        <div class="flex justify-end">
          <button
            class="bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-1 px-2 rounded text-sm mt-1 cursor-pointer"
            [routerLink]="['/gimmicks/charts']"
          >
            {{ "gimmicks.overview.open" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div
      class="bg-gradient-to-b from-cyan-400 to-blue-600 text-white rounded-lg sm:h-[410px] p-8 m-8 w-72 shadow-lg"
    >
      <div class="flex flex-col justify-between h-full">
        <div>
          <div class="flex justify-between items-center mb-6">
            <div class="text-xl font-bold">
              {{ "gimmicks.menu.jokes" | translate }}
            </div>
            <i class="fa-solid fa-face-smile text-4xl text-violet-100"></i>
          </div>
          <div class="mb-2 text-gray-200">
            {{ "gimmicks.overview.elements" | translate }}:
          </div>
          <ul class="mb-8 text-sm sm:text-base text-gray-200">
            <li>{{ "gimmicks.jokes.auth" | translate }}</li>
            <li>{{ "gimmicks.jokes.stripe" | translate }}</li>
          </ul>
        </div>
        <div class="flex justify-end">
          <button
            class="bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-1 px-2 rounded text-sm mt-1 cursor-pointer"
            [routerLink]="['/gimmicks/auth/main']"
          >
            {{ "gimmicks.overview.open" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
