<div class="bg-blue-600 min-h-[calc(100vh-25px)]">
  <div class="flex justify-center text-white text-lg p-8">
    <div class="max-w-[600px]">
        Die meisten Projekte die ich bisher gemacht habe, waren
    Unternehmensanwendungen auf die man nur mit Login und Passwort zugreifen
    kann. Ich kann diese Projekte also hier nicht präsentieren. Aus diesem Grund
    habe ich auf dieser Seite ein paar Gimmicks zusammengestellt um meine
    Fähigkeit zu demonstieren.
    </div>
    
  </div>
  <div class="flex flex-wrap">
    <div
      class="bg-blue-500 text-white rounded-lg sm:h-[410px] p-8 m-8 w-72 shadow-lg"
    >
      <div class="flex flex-col justify-between h-full">
        <div>
          <div class="text-xl font-bold mb-6">Maps</div>
          <div class="mb-2">Elements:</div>
          <ul class="list-disc mb-8 text-sm sm:text-base">
            <li class="ml-10">Google Maps API</li>
            <li class="ml-10">Search with typeahead</li>
            <li class="ml-10">Drag and drop</li>
            <li class="ml-10">Table with sorting, filtering and pagination</li>
            <li class="ml-10">Resizable element (on small screens)</li>
            <li class="ml-10">responsiveness</li>
          </ul>
        </div>
        <div class="flex justify-end">
          <button
            class="bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-1 px-2 rounded text-sm mt-1"
            [routerLink]="['/gimmicks/map']"
          >
            Open
          </button>
        </div>
      </div>
    </div>
    <div
      class="bg-blue-500 text-white rounded-lg sm:h-[410px] p-8 m-8 w-72 shadow-lg"
    >
      <div class="flex flex-col justify-between h-full">
        <div>
          <div class="text-xl font-bold mb-6">Calendar</div>
          <div class="mb-2">Elements:</div>
          <ul class="list-disc mb-8 text-sm sm:text-base">
            <li class="ml-10">ToDo</li>
          </ul>
        </div>
        <div class="flex justify-end">
          <button
            class="bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-1 px-2 rounded text-sm mt-1"
            [routerLink]="['/gimmicks/calendar']"
          >
            Open
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
