<div
  class="p-4 border border-yellow-800 bg-yellow-300 rounded m-4 max-w-[320px] sm:max-w-[600px]"
>
  @if (noMorePlayers&&!nameInputDisabled) {
  <div>
    {{'gimmicks.games.waitForNewGame'|translate}}
  </div>
  <div class="mb-4">{{'gimmicks.games.currentlyPlaying'|translate}}</div>
  <div *ngFor="let player of players" class="text-xl text-blue-400 ml-4">
    {{ player }}
  </div>
  }@else {
  <button mat-stroked-button (click)="back.emit()">
    <div class="flex gap-2 items-center">
      <mat-icon>keyboard_backspace</mat-icon>{{'gimmicks.games.back'|translate}}
    </div>
  </button>
  <div class="mt-4">{{'gimmicks.games.enterName'|translate}}</div>
  <div class="flex gap-4 items-center mt-2">
    <mat-form-field floatLabel="always" subscriptSizing="dynamic">
      <mat-label>Name</mat-label>
      <input [disabled]="nameInputDisabled" matInput [(ngModel)]="yahtzeeService.name" />
    </mat-form-field>
    <button
      mat-raised-button
      [disabled]="nameInputDisabled"
      (click)="addName()"
    >
      OK
    </button>
  </div>
  <div class="text-red-500" *ngIf="showNameError">
    {{'gimmicks.games.nameNotEmpty'|translate}}
  </div>
  <div class="text-red-500" *ngIf="nameExist">
    {{'gimmicks.games.nameAlreadyTaken'|translate}}
  </div>
  <div class="mt-4">{{'gimmicks.games.registeredPlayers'|translate}}</div>
  <div class="flex flex-col gap-4 mt-2">
    <div class="text-xl text-blue-400 ml-4" *ngFor="let player of players">
      {{ player }} <span *ngIf="player === yahtzeeService.name">{{'gimmicks.games.you'|translate}}</span>
    </div>
  </div>
  <div class="flex justify-center mt-8">
    <button
      mat-raised-button
      [disabled]="startGameDisabled"
      (click)="startGame()"
    >
      {{'gimmicks.games.startGame'|translate}}
    </button>
  </div>
  <div *ngIf="gameStarted" class="flex gap-4 items-center justify-center mt-4">
    <div><mat-spinner [diameter]="20"></mat-spinner></div>
    <div>{{'gimmicks.games.waitForOtherPlayers'|translate}}</div>
  </div>
  }
</div>
