.fireworks {
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  position: absolute;
}
.background {
  background-image: url("/assets/hanging-flowers.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fde047;
  background-blend-mode: hard-light;
  height: 100%;
}
