section {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3rem 0rem 10rem;

  position: relative;
}

section:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: var(--color2);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230EF'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230FF'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='.8'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}

.content {
  position: relative;
}

a:focus {
  outline: none;
}

.wrapper1,
.wrapper2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h3 {
  margin-bottom: 4rem;
  font-size: 2rem;
}

.portfolio-item {
  position: relative;
}

@media (hover) {
  .portfolio-item img,
  .portfolio-item .portfolio-caption,
  .portfolio-item .portfolio-overlay {
    transition: clip-path 0.15s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }

  .portfolio-item:hover img,
  .portfolio-item:hover .portfolio-caption,
  .portfolio-item:hover .portfolio-overlay {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }

  .portfolio-item:hover .portfolio-caption .portfolio-caption-content {
    visibility: visible;
    justify-content: center;
  }

  .portfolio-item:hover
    .portfolio-image-wrapper
    .portfolio-link-wrapper
    .portfolio-overlay {
    opacity: 0.7;
    transition: opacity 0.35s ease-out;
  }
}

.portfolio-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.portfolio-link-wrapper {
  position: relative;
  max-width: 230px;
  overflow: hidden;
}

.portfolio-image {
  width: 230px;
  height: 106px;
  aspect-ratio: auto;
}

.portfolio-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.portfolio-item .portfolio-caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  max-width: 230px;
}

.portfolio-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.1;
}

.portfolio-item .portfolio-caption .portfolio-caption-content {
  visibility: hidden;
  padding: 3.5rem;
  transition: background-color 0.7s;
  text-align: left;
  color: var(--color1);
  display: flex;
  align-items: center;
  width: 100%;
}

.portfolio-caption-header {
  font-size: 1rem;
  font-weight: 900;
}

.contact-button {
  border-radius: 10px;
  background-color: var(--color1);
  border-radius: 0.25rem;
  color: var(--color2);
  padding: 1rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.contact-button:active {
  box-shadow: 0 0 0 0.25rem var(--color3);
}

.contact-button:hover {
  opacity: 0.85;
}

.button-wrapper {
  margin-top: 6rem;
}

dialog {
  border-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px #c5c1c1;
  height: 80%;
  width: 80%;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.dialog-close {
  position: fixed;
  top: 10%;
  right: calc(10% + 15px);
  cursor: pointer;
}

.vocabulary-trainer,
.catchcups {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.catchcups img {
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.vocabulary-trainer div {
  margin: 20px;
}

.web-app-image {
  width: 900px;
}

.android-app-image {
  width: 250px;
}

.webaro img {
  margin: 5px;
}

.webaro-text,
.cc-text {
  display: flex;
  justify-content: center;
}

.webaro-text p,
.cc-text p {
  max-width: 900px;
}

@media (hover: none) {
  .portfolio-item {
    margin-bottom: 60px;
    margin-right: 20px;
  }

  .portfolio-item .portfolio-caption {
    background-color: transparent;
    align-items: start;
    top: -50px;
  }

  .portfolio-item .portfolio-caption .portfolio-caption-content {
    visibility: visible;
    padding: 0rem;
    color: black;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .button-wrapper {
    margin-top: 1rem;
  }
}

@media (hover: none) and (max-width: 1131px) {
  .wrapper2 :nth-child(1) {
    order: 2;
  }
  .wrapper2 :nth-child(2) {
    order: 1;
  }
}

@media (hover) and (max-width: 1140px) {
  .wrapper2 :nth-child(1) {
    order: 2;
  }
  .wrapper2 :nth-child(2) {
    order: 1;
  }
}

@media screen and (max-width: 1600px) {
  .webaro img,
  .web-app-image {
    width: 800px;
  }

  .android-app-image {
    width: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .webaro img,
  .web-app-image {
    width: 600px;
  }

  .android-app-image {
    width: 200px;
  }
}

@media screen and (max-width: 800px) {
  .catchcups img {
    width: 125px;
  }

  .webaro img,
  .web-app-image {
    width: 400px;
  }

  .android-app-image {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 3rem 3rem 10rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .portfolio-caption-text {
    font-size: 1rem;
  }

  /* .portfolio-item .portfolio-caption {
    max-width: 360px;
  } */

  /* .portfolio-link-wrapper {
    max-width: 360px;
  } */

  /* .portfolio-image {
    width: 360px;
    height: 166px;
  } */
}

@media screen and (max-width: 600px) {
  section {
    padding: 3rem 3rem 3rem;
  }

  .contact-button {
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 500px) {
  .webaro img,
  .web-app-image {
    width: 250px;
  }

  .android-app-image {
    width: 100px;
  }
}

@media screen and (max-width: 400px) {
  /* .portfolio-item .portfolio-caption {
    max-width: 240px;
  } */

  /* .portfolio-link-wrapper {
    max-width: 240px;
  } */

  /* .portfolio-image {
    width: 240px;
    height: 111px;
  } */
}

@media screen and (max-width: 320px) {
  .webaro img,
  .web-app-image {
    width: 200px;
  }

  .android-app-image {
    width: 75px;
  }
}

@keyframes left-box-animation {
  from {
    transform: translatex(-100vw);
  }
  to {
  }
}

.in-view.left-box-animation {
  animation-name: left-box-animation;
  animation-duration: 2s;
}

@keyframes right-box-animation {
  from {
    transform: translatex(100vw);
  }
  to {
  }
}

.in-view.right-box-animation {
  animation-name: right-box-animation;
  animation-duration: 2s;
}
