<section id="portfolio">
  <dialog #vocabularyTrainerDialog class="bg-[#4a9ab2] text-white p-4">
    <div class="dialog-close">
      <a (click)="vocabularyTrainerDialog.close()"><b>X</b></a>
    </div>
    <div class="flex flex-col place-items-center">
      <div class="text-3xl mb-4">Vocabulary Trainer</div>
      <div>
        <div class="flex flex-col place-items-center">
          <p class="mb-8 text-lg">
            {{ "portfolio.vocabularyTrainer.text1" | translate }}
          </p>
          <img
            class="web-app-image"
            src="../../assets/learnlanguageapp.webp"
            alt="A Web App to learn Croatian Language"
          />
          <div class="mt-3">
            <a
              href="https://vocabularyinputapp.web.app"
              target="_blank"
              class="text-yellow-300 hover:text-yellow-400"
              tabindex="-1"
              >https://vocabularyinputapp.web.app</a
            >
          </div>
          <div class="mt-3">
            <a
              href="https://github.com/benjaminmilcic/LearnLanguageApp"
              target="_blank"
              class="text-yellow-300 hover:text-yellow-400"
              tabindex="-1"
              >{{ "portfolio.vocabularyTrainer.sourceCode" | translate }}</a
            >
          </div>
        </div>
        <div class="mt-10 flex flex-col place-items-center">
          <p class="mb-8 text-lg">
            {{ "portfolio.vocabularyTrainer.text2" | translate }}
          </p>
          <img
            class="android-app-image"
            src="../../assets/androidApp.webp"
            alt="A Web App to learn Croatian Language"
          />
          <div class="mt-4">
            <a
              href="https://play.google.com/store/apps/details?id=io.ionic.learnlanguageapp"
              target="_blank"
              ><img
                width="144px"
                src="../../assets/google-play-badge.png"
                alt="Android App to learn Croatian Language"
            /></a>
          </div>
          <div>
            <a
              href="https://github.com/benjaminmilcic/learn-language-android-app"
              target="_blank"
              class="text-yellow-300 hover:text-yellow-400"
              tabindex="-1"
              >{{ "portfolio.vocabularyTrainer.sourceCode" | translate }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </dialog>
  <dialog #catchCupDialog class="text-black bg-[#f2cf56] p-4">
    <div class="dialog-close">
      <a (click)="catchCupDialog.close()"><b>X</b></a>
    </div>
    <div class="cc">
      <div class="text-3xl mb-4">CatchCups</div>
      <div style="margin-bottom: 10px">
        <a
          href="https://catchcups.com"
          target="_blank"
          class="text-blue-500 hover:text-blue-600"
          >https://catchcups.com</a
        >
      </div>
      <div class="cc-text" style="margin-bottom: 20px">
        <p>
          {{ "portfolio.catchCups.text1" | translate }}
          <a
            href="https://codext.de/"
            target="_blank"
            class="text-gray-500 hover:text-gray-600"
            >Codext GmbH</a
          >,
          {{ "portfolio.catchCups.text2" | translate }}
        </p>
      </div>
      <div class="catchcups">
        <img src="../../assets/catchcups1.webp" alt="CatchCups" />
        <img src="../../assets/catchcups2.webp" alt="CatchCups" />
        <img src="../../assets/catchcups3.webp" alt="CatchCups" />
        <img src="../../assets/catchcups4.webp" alt="CatchCups" />
      </div>
      <div class="mt-5 flex justify-center">
        <a
          href="https://play.google.com/store/apps/details?id=de.codext.catchcup"
          target="_blank"
          ><img
            width="144px"
            src="../../assets/google-play-badge.png"
            alt="CastchCup App"
        /></a>
      </div>
    </div>
  </dialog>
  <dialog #webaroDialog class="text-black bg-[#f2cf56] p-4">
    <div class="dialog-close">
      <a (click)="webaroDialog.close()"><b>X</b></a>
    </div>
    <div class="webaro">
      <div class="text-3xl mb-4">Webaro</div>
      <div class="webaro-text">
        <p class="mb-8 text-lg">
          {{ "portfolio.webaro.text1" | translate }}
          <a
            href="https://webaro.de"
            target="_blank"
            class="text-gray-500 hover:text-gray-600"
            >Weber Agrar Robotik GmbH</a
          >{{ "portfolio.webaro.text2" | translate }}
          <a
            href="https://codext.de"
            target="_blank"
            class="text-gray-500 hover:text-gray-600"
            >Codext GmbH</a
          >.
        </p>
      </div>
      <div class="flex flex-col place-items-center gap-4">
        <img
          src="../../assets/webaro.webp"
          alt="Weber Agrar Robotik GmbH"
          class="max-w-[900px]"
        />
        <img
          src="../../assets/webaro1.webp"
          alt="Weber Agrar Robotik GmbH"
          class="max-w-[900px]"
        />
        <img
          src="../../assets/webaro2.webp"
          alt="Weber Agrar Robotik GmbH"
          class="max-w-[900px]"
        />
      </div>
      <div style="margin-top: 20px">
        <a
          href="https://webaro.dev"
          target="_blank"
          class="text-blue-500 hover:text-blue-600"
          >https://webaro.dev</a
        >
      </div>
    </div>
  </dialog>
  <div class="content">
    <h3>Portfolio</h3>
    <div class="wrapper1">
      <div class="portfolio-item m-4">
        <a
          style="cursor: pointer"
          (click)="vocabularyTrainerDialog.showModal()"
        >
          <div class="portfolio-image-wrapper">
            <div class="portfolio-link-wrapper rounded-lg">
              <img
                class="portfolio-image"
                src="assets/vocabularyTrainer.webp"
                alt="Learn Language App"
              />
              <div
                class="portfolio-overlay"
                style="background-color: #1d819f"
              ></div>
            </div>
          </div>

          <div class="portfolio-caption rounded-lg">
            <div class="portfolio-caption-content">
              <div>
                <p class="portfolio-caption-header">Vocabulary Trainer</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="portfolio-item m-4">
        <a style="cursor: pointer" (click)="catchCupDialog.showModal()">
          <div class="portfolio-image-wrapper">
            <div class="portfolio-link-wrapper rounded-lg">
              <img
                class="portfolio-image"
                src="assets/catchCups.webp"
                alt="Learn Language App"
              />
              <div
                class="portfolio-overlay"
                style="background-color: #efc32c"
              ></div>
            </div>
          </div>

          <div class="portfolio-caption rounded-lg">
            <div class="portfolio-caption-content">
              <div>
                <p class="portfolio-caption-header">CatchCups</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="wrapper2">
      <div class="portfolio-item m-4">
        <a style="cursor: pointer" (click)="webaroDialog.showModal()">
          <div class="portfolio-image-wrapper">
            <div class="portfolio-link-wrapper rounded-lg">
              <img
                class="portfolio-image"
                src="assets/webaro.webp"
                alt="Learn Language App"
              />
              <div
                class="portfolio-overlay"
                style="background-color: #efc32c"
              ></div>
            </div>
          </div>

          <div class="portfolio-caption rounded-lg">
            <div class="portfolio-caption-content">
              <div>
                <p class="portfolio-caption-header">Webaro</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="portfolio-item m-4">
        <div class="portfolio-image-wrapper">
          <div class="portfolio-link-wrapper">
            <div style="width: 530px"></div>
            <!-- <div
              class="portfolio-overlay"
            ></div> -->
          </div>
        </div>

        <!-- <div class="portfolio-caption">
          <div class="portfolio-caption-content">
            <div>
              <p class="portfolio-caption-header"></p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="button-wrapper">
      <a class="contact-button" [routerLink]="['/']" fragment="contact">{{
        "portfolio.contact" | translate
      }}</a>
    </div>
  </div>
</section>
