<div class="flex flex-col place-items-center gap-8 mt-20 relative sm:w-[600px]">
  <div class="flex flex-col place-items-center w-[308px] sm:w-[460px] bg-white rounded p-4">
    <canvas
      baseChart
      [data]="getBarChartData()"
      [options]="getBarChartOptions()"
      [type]="barChartType"
      [plugins]="barChartPlugins"
    >
    </canvas>
    <div class="flex self-end">
      <div
        *ngFor="let user of users; let i = index"
        class="flex cursor-pointer justify-center"
        [ngClass]="{ 'opacity-25': !showUser[i] }"
        [style.width]="getLabelWidth()"
        (click)="showUser[i] = !showUser[i]"
      >
        <img [src]="user.image" width="30px" class="rounded-full" />
      </div>
    </div>
  </div>
  <div>
    <ion-segment
      mode="ios"
      [value]="kindOfConsumption"
      (ionChange)="onChangeKindOfConsumption($event)"
    >
      <ion-segment-button value="electricity">
        <ion-label>{{ "gimmicks.charts.electricity" | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="water">
        <ion-label>{{ "gimmicks.charts.water" | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="gas">
        <ion-label>{{ "gimmicks.charts.gas" | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</div>
