<div class="relative flex justify-center -mt-6">
  <div #container class="container flex justify-center">
    <div *ngFor="let dice of yahtzeeService.dices" class="dice" [ngClass]="showRotate?'dice-show-rotate':''" [ngStyle]="{'margin-left': dice.marginLeft}" (click)="toggleChecked(dice)">
      <div class="side one" [ngClass]="{'bg-yellow-300':dice.checked,'bg-white':!dice.checked}">
        <div class="dot one-1"></div>
      </div>
      <div class="side two" [ngClass]="{'bg-yellow-300':dice.checked,'bg-white':!dice.checked}">
        <div class="dot two-1"></div>
        <div class="dot two-2"></div>
      </div>
      <div class="side three" [ngClass]="{'bg-yellow-300':dice.checked,'bg-white':!dice.checked}">
        <div class="dot three-1"></div>
        <div class="dot three-2"></div>
        <div class="dot three-3"></div>
      </div>
      <div class="side four" [ngClass]="{'bg-yellow-300':dice.checked,'bg-white':!dice.checked}">
        <div class="dot four-1"></div>
        <div class="dot four-2"></div>
        <div class="dot four-3"></div>
        <div class="dot four-4"></div>
      </div>
      <div class="side five" [ngClass]="{'bg-yellow-300':dice.checked,'bg-white':!dice.checked}">
        <div class="dot five-1"></div>
        <div class="dot five-2"></div>
        <div class="dot five-3"></div>
        <div class="dot five-4"></div>
        <div class="dot five-5"></div>
      </div>
      <div class="side six" [ngClass]="{'bg-yellow-300':dice.checked,'bg-white':!dice.checked}">
        <div class="dot six-1"></div>
        <div class="dot six-2"></div>
        <div class="dot six-3"></div>
        <div class="dot six-4"></div>
        <div class="dot six-5"></div>
        <div class="dot six-6"></div>
      </div>
    </div>
  </div>
</div>

