<section id="about">
  <!-- <div id="cv-wrapper" [ngClass]="{ active: cvActivated }">
    <ng-container *ngIf="cvActivated">
      <div style="display: flex; justify-content: space-between">
        <div (click)="toggleCv($event)" class="close-cv-button">
          <p>X</p>
        </div>
        <p>{{ "about.curriculumVitae" | translate }}</p>
        <div></div>
      </div>
      <object
        *ngIf="translateService.currentLang == 'de'"
        data="../../assets/CV_DE.pdf"
        class="embeded-pdf"
        type="application/pdf"
      ></object>
      <object
        *ngIf="translateService.currentLang == 'en'"
        data="../../assets/CV_EN.pdf"
        class="embeded-pdf"
        type="application/pdf"
      ></object>
    </ng-container>
  </div> -->

  <div class="content">
    <!-- <h3>{{ "about.aboutMe" | translate }}</h3> -->
    <div class="flex justify-center relative">
      <div
        class="w-32 h-32 sm:w-60 sm:h-60 overflow-hidden rounded-full absolute"
      >
        <img src="assets/5x7.webp" class="max-w-full h-auto" />
        <!-- <div class="cv-button" (click)="toggleCv($event)">CV</div> -->
      </div>
    </div>

    <div
      class="about rounded-lg p-6 sm:p-20 pt-20 sm:pt-40 shadow mt-[64px] sm:mt-[120px] bg-gradient-to-b from-green-400 to-green-600 font-mono"
    >
      <p class="leading-normal">
        {{ "about.text1" | translate }}<br />
        {{ "about.text2" | translate }}<br /><br />

        {{ "about.text3" | translate }}
        {{ "about.text5" | translate }}<br /><br />
        {{ "about.text6" | translate }}<br /><br />
        {{ "about.text7" | translate }}<br /><br />
      </p>
      <div class="flex place-items-center mt-6 gap-4">
        <img src="/assets/PDF_file_icon.svg.png" width="24" />

        <a *ngIf="translateService.currentLang == 'de'" href="/assets/CV_DE.pdf" class="text-blue-200"
          ><span>{{ "about.downloadCV" | translate }}</span></a
        >
        <a *ngIf="translateService.currentLang == 'en'" href="/assets/CV_EN.pdf" class="text-blue-200"
          ><span>{{ "about.downloadCV" | translate }}</span></a
        >
      </div>
    </div>

    <div class="button-wrapper">
      <a class="button text-gray-700" [routerLink]="['/']" fragment="skills">{{
        "about.mySkills" | translate
      }}</a>
    </div>
  </div>
</section>
