<section id="about">
  <div class="content">
    <!-- <h3>{{ "about.aboutMe" | translate }}</h3> -->
    <div class="flex justify-center relative">
      <div
        class="w-32 h-32 sm:w-60 sm:h-60 overflow-hidden rounded-full absolute animation image-animation z-10"
      >
        <img src="assets/5x7_changed.jpg" class="max-w-full h-auto" />
      </div>
    </div>

    <div
      class="about rounded-lg p-6 sm:p-20 pt-20 sm:pt-40 shadow mt-[64px] sm:mt-[120px] bg-gradient-to-b from-color4 to-color5 font-mono animation box-animation text-color1"
    >
      <div class="animation text-animation">
        <p class="leading-normal">
          {{ "about.text1" | translate }}<br /><br />
          {{ "about.text2" | translate }}<br /><br />

          {{ "about.text3" | translate }}<br /><br />
          {{ "about.text5" | translate }}<br /><br />
          {{ "about.text6" | translate }}<br /><br />
          {{ "about.text7" | translate }}<br /><br />
        </p>
        <div class="flex place-items-center mt-6 gap-4">
          <img src="/assets/PDF_file_icon.svg.png" width="24" />

          <a
            *ngIf="translateService.currentLang == 'de'"
            href="/assets/CV_DE.pdf"
            class="text-color2"
            ><span>{{ "about.downloadCV" | translate }}</span></a
          >
          <a
            *ngIf="translateService.currentLang == 'en'"
            href="/assets/CV_EN.pdf"
            class="text-color2"
            ><span>{{ "about.downloadCV" | translate }}</span></a
          >
        </div>
      </div>
    </div>

    <div class="button-wrapper">
      <a class="button" [routerLink]="['/']" fragment="skills">{{
        "about.mySkills" | translate
      }}</a>
    </div>
  </div>
</section>
