section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem 10rem;
  position: relative;
}

section:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: radial-gradient(
        hsl(84, 50%, 27%) 4%,
        hsl(84, 50%, 18%) 9%,
        hsla(84, 50%, 20%, 0) 9%
      )
      0 0,
    radial-gradient(
        hsl(84, 50%, 27%) 4%,
        hsl(84, 50%, 18%) 8%,
        hsla(84, 50%, 20%, 0) 10%
      )
      50px 50px,
    radial-gradient(hsla(84, 50%, 30%, 0.8) 20%, hsla(0, 50%, 20%, 0)) 50px 0,
    radial-gradient(hsla(84, 50%, 30%, 0.8) 20%, hsla(0, 50%, 20%, 0)) 0 50px,
    radial-gradient(hsla(84, 50%, 20%, 1) 35%, hsla(0, 50%, 20%, 0) 60%) 50px 0,
    radial-gradient(hsla(84, 50%, 20%, 1) 35%, hsla(0, 50%, 20%, 0) 60%) 100px
      50px,
    radial-gradient(hsla(84, 50%, 15%, 0.7), hsla(0, 50%, 20%, 0)) 0 0,
    radial-gradient(hsla(84, 50%, 15%, 0.7), hsla(0, 50%, 20%, 0)) 50px 50px,
    linear-gradient(
        45deg,
        hsla(0, 50%, 20%, 0) 49%,
        hsla(0, 50%, 0%, 1) 50%,
        hsla(0, 50%, 20%, 0) 70%
      )
      0 0,
    linear-gradient(
        -45deg,
        hsla(0, 100%, 20%, 0) 49%,
        hsla(0, 100%, 0%, 1) 50%,
        hsla(0, 100%, 20%, 0) 70%
      )
      0 0;
  background-color: #300;
  background-size: 100px 100px;
}

.content {
  position: relative;
}

h3 {
  font-size: 2rem;
  margin-bottom: 4rem;

  text-align: center;
}

.about {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  font-weight: 400;
  max-width: 600px;
}

/* a {
  color: gray;
} */

/* a:hover {
  color: blue;
} */

ul {
  overflow: auto;
}

.button {
  border-radius: 10px;
  background-color: var(--color3);
  border-radius: 0.25rem;
  color: var(--color1);
  padding: 1rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.button:active {
  box-shadow: 0 0 0 0.25rem var(--color1);
}

.button:hover {
  opacity: 0.8;;
}

.button-wrapper {
  margin-top: 6rem;
  text-align: center;
}

.cv-button {
  position: absolute;
  left: -20px;
  top: 10px;
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cv-button:hover {
  background-color: lightgreen;
}

#cv-wrapper {
  position: fixed;
  z-index: 2;
  left: 0px;
  top: 10px;
  width: 0px;
  height: calc(100% - 10px);
  bottom: 10px;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: lightgreen;
  border-radius: 12px;
}

#cv-wrapper.active {
  left: -240px;
  width: 450px;
  transition: all 0.4s ease 0s;
}

.close-cv-button {
  padding-left: 15px;
  cursor: pointer;
}

.close-cv-button:hover {
  color: white;
}

.embeded-pdf {
  height: 90%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  section {
    padding: 3rem 3rem 3rem;
  }

  .about {
    font-size: 1rem;
  }

  .button {
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
  }

  img {
    float: none;
  }
}

@media screen and (max-width: 460px) {
  #cv-wrapper.active {
    width: 94%;
  }
}

@keyframes box-animation {
  from {
    transform: scale(0.2);
  }
  to {
  }
}

.in-view.box-animation {
  animation-name: box-animation;
  animation-duration: 1s;
}

@keyframes text-animation {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  35% {
    opacity: 0;

    transform: translateX(100%);
  }
  100% {
    opacity: 1;
  }
}

.in-view.text-animation {
  animation-name: text-animation;
  animation-duration: 2s;

}

@keyframes image-animation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);

  }
  100% {
  }
}

.in-view.image-animation {
  animation-name: image-animation;
  animation-duration: 2.5s;
}
