<section
  id="header"
  class="flex min-h-[calc(100%-40px)] h-fit bg-blue-400 gap-16 flex-col xl:flex-row px-4 sm:px-0"
>
  <dialog
    #createPostDialog
    [open]="showcreatePostDialog"
    class="bg-blue-500 text-white my-4 mx-auto p-4 rounded-xl"
  >
    <div class="dialog-close">
      <a (click)="showcreatePostDialog = false"><b>X</b></a>
    </div>
    <div class="flex flex-col sm:flex-row gap-4 mt-12">
      <div>
        <div class="text-center mb-4">
          {{ "gimmicks.guestbook.thanks" | translate }}
        </div>
        <div class="mb-1">Name:</div>
        <ion-input
          fill="outline"
          class="mb-4"
          [(ngModel)]="postName"
        ></ion-input>
      </div>

      <editor
        apiKey="p8kzw066uvdiavhwv4gt5t1iqdqygdfatlxf194isih8d5rr"
        [init]="config"
        [(ngModel)]="postContent"
        class="w-[600px]"
      ></editor>
    </div>
    <ion-fab slot="fixed" vertical="top" horizontal="start">
      <ion-fab-button
        [matTooltip]="'gimmicks.guestbook.save' | translate"
        (click)="onSavePost()"
      >
        <i class="fa-solid fa-floppy-disk text-xl"></i>
      </ion-fab-button>
    </ion-fab>
  </dialog>

  <div
    class="flex flex-col place-items-center justify-center p-8 xl:w-96 text-white relative"
  >
    <div class="text-2xl">Johnny Cash</div>
    <div class="text-lg mb-2">I Walk The Line</div>
    <div #youTubePlayer class="w-full flex justify-center">
      <youtube-player
        videoId="1hyWnA7cgyU"
        [width]="videoWidth"
        [height]="videoHeight"
      />
    </div>
  </div>
  <div class="flex flex-col w-full relative xl:overflow-y-auto">
    <button
      class="xl:self-start self-center max-w-48 mx-6 mt-4 mb-2 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded shadow cursor-pointer"
      (click)="onCreatePost()"
    >
      {{ "gimmicks.guestbook.createComment" | translate }}
    </button>
    <div
      *ngFor="let post of posts"
      class="flex flex-col m-4 pb-4 rounded-lg shadow bg-white w-full sm:w-[600px] max-w-[600px] self-center xl:self-start"
    >
      <div
        class="flex justify-between px-4 py-2 bg-gradient-to-b from-[#4ade8080] to-[#2563eb80] rounded-t"
      >
        <div>{{ post.name }}</div>
        <div>{{ post.date | date : undefined : undefined : "de" }}</div>
      </div>
      <div
        class="px-4 py-1 overflow-x-auto"
        [innerHTML]="post.content | safeHtml"
      ></div>
    </div>
  </div>
</section>
