section {
  background-size: cover;
  background-position: center;
  position: relative;
}

section:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url(/assets/skimming-stone-asteroid-meta.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

dialog {
  border-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px #c5c1c1;
  height: 650px;
  max-width: 600px;
  z-index: 999;
}

@media screen and (max-width: 630px) {
  dialog {
    max-width:100%;
  }

  dialog editor {
    width: 100%;
  }
}





dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.dialog-close {
  display: flex;
  justify-content: end;
  cursor: pointer;
  margin-bottom: 36px;
}

.dialog-close:hover {
  color: black;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:lightgray;
  height: 1px;
}