<section class="flex flex-col gap-2 h-[calc(100%-40px)] bg-blue-400">
  <div class="flex justify-center flex-wrap gap-6 p-4">
    <button
      color="tiktaktoe"
      mat-raised-button
      [routerLink]="['/gimmicks/games/tiktaktoe']"
      routerLinkActive="router-link-active"
    >
      TikTakToe
    </button>
    <button
      color="connect-four"
      mat-raised-button
      [routerLink]="['/gimmicks/games/connect-four']"
      routerLinkActive="router-link-active"
    >
      {{ "gimmicks.games.connectFour" | translate }}
    </button>
    <button
      color="memo-quiz"
      mat-raised-button
      [routerLink]="['/gimmicks/games/memo-quiz']"
      routerLinkActive="router-link-active"
    >
      {{ "gimmicks.games.memoQuiz" | translate }}
    </button>
    <button
      color="knowledge-quiz"
      mat-raised-button
      [routerLink]="['/gimmicks/games/knowledge-quiz']"
      routerLinkActive="router-link-active"
    >
      {{ "gimmicks.games.knowledgeQuiz" | translate }}
    </button>
    <!-- <button
      color="jigsaw"
      mat-raised-button
      [routerLink]="['/gimmicks/games/jigsaw']"
      routerLinkActive="router-link-active"
    >
      {{ "gimmicks.games.jigsaw" | translate }}
    </button> -->
  </div>
  <div class="w-full h-full items-center overflow-auto">
    <router-outlet></router-outlet>
  </div>
</section>
