<div class="flex justify-center p-4 relative overflow-auto">
  <div class="max-w-[320px] sm:max-w-[600px]">
    <table class="bg-white border-2 border-black border-collapse">
      <tr class="border-b border-b-black">
        <th></th>
        <th
          *ngFor="let player of yahtzeeService.players; let playerIndex = index"
          class="px-[5px] py-[2px]"
          [ngClass]="{
            'text-blue-400': yahtzeeService.playerOnMoveIndex === playerIndex
          }"
        >
          {{ player.name }}
        </th>
      </tr>
      <tr *ngFor="let row of yahtzeeService.score; let scoreIndex = index">
        <td
          [ngClass]="{ '!border-b-2': row.bigBorder }"
          class="px-[5px] py-[2px]"
        >
          {{ row.name }}
        </td>
        <td
          *ngFor="let player of yahtzeeService.players; let playerIndex = index"
          [ngClass]="{ '!border-b-2': row.bigBorder }"
          class="text-center !p-0"
        >
          <div
            [ngStyle]="{
              'padding-top': screenHeight > 900 ? '8px' : '2px',
              'padding-bottom': screenHeight > 900 ? '8px' : '2px',
              'padding-left': screenHeight > 900 ? '10px' : '5px',
              'padding-right': screenHeight > 900 ? '10px' : '5px'
            }"
            [ngClass]="{
              'bg-red-400 cursor-pointer hover:bg-red-800':
                row.user[playerIndex].suggestNumber !== null &&
                !row.user[playerIndex].finished
            }"
            (click)="
              row.user[playerIndex].suggestNumber !== null
                ? setsuggestedNumber(row.user[playerIndex], scoreIndex)
                : null
            "
          >
            @if (row.user[playerIndex].finished) { @if
            (row.user[playerIndex].number===0&&scoreIndex!==15&&scoreIndex!==6)
            { X }@else { @if (row.user[playerIndex].number===null) {&nbsp;}@else {

            {{ row.user[playerIndex].number }}
            } } }@else { @if (row.user[playerIndex].suggestNumber==0) {X}@else {
            @if (row.user[playerIndex].suggestNumber===null) {&nbsp;}@else {

            {{ row.user[playerIndex].suggestNumber }}
            } } }
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
