<div class="flex flex-col place-items-center gap-8 relative sm:w-[600px]">
  <div class="flex flex-col gap-6 place-items-center w-[340px] sm:w-96">
    <canvas
      baseChart
      [data]="getPieChartData()"
      [type]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="barChartPlugins"
    >
    </canvas>
  </div>
  <div class="flex gap-x-8 gap-y-2 flex-wrap justify-center  w-[340px] lg:w-[600px]">
    <div
      *ngFor="let user of users; let i = index"
      class="flex place-items-center gap-2"
    >
      <div
        class="w-6 h-3 border"
        [ngStyle]="{ 'background-color': legendColors[i] }"
      ></div>
      <img [src]="user.image" width="40px" class="rounded-full clip" />
    </div>
  </div>
</div>
