<h2 mat-dialog-title class="bg-blue-600 !text-white !text-sm">
 {{'httpError.errorOccurs'|translate}}
</h2>
<mat-dialog-content class="!pt-4 !text-sm">
  <div *ngIf="!data.success">
    <p>
      {{'httpError.httpErrorOccurs'|translate}}
    </p>
    <p>
      {{'httpError.contactMeVia'|translate}}
    </p>
    <p>
      <a [href]="'mailto:' + email">{{ email }}</a>
    </p>
  </div>
  <div *ngIf="data.success">
    <p>
      {{'httpError.httpErrorOccurs2'|translate}}
    </p>
    <p>{{'httpError.emailWasSendToMe'|translate}}</p>
    <p>{{'httpError.checkInternetConnection'|translate}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex w-full justify-center">
    <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>
      Ok
    </button>
  </div>
</mat-dialog-actions>
