<h2 mat-dialog-title class="bg-blue-600 !text-white !text-sm">
  Ein Fehler ist aufgetreten!
</h2>
<mat-dialog-content class="!pt-4 !text-sm">
  <div *ngIf="!data.success">
    <p>
      Es ist ein Datenübertragungsfehler aufgetreten. Bitte überprüfen Sie die
      Internetverbindung und versuchen Sie es erneut.
    </p>
    <p>
      Falls der Fehler weiterhin auftritt, kontaktieren Sie mich bitte unter
    </p>
    <p>
      <a [href]="'mailto:' + email">{{ email }}</a>
    </p>
  </div>
  <div *ngIf="data.success">
    <p>
      Es ist ein Datenübertragungsfehler aufgetreten.
    </p>
    <p>Eine Email wurde an mich gesendet. Ich werde mich umgehend um den Fehler kümmern.</p>
    <p>Bitte überprüfen Sie auch Ihre Internetverbindung. Eventuell liegt es daran.</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex w-full justify-center">
    <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>
      Ok
    </button>
  </div>
</mat-dialog-actions>
