section {
  background-size: cover;
  background-position: center;
  position: relative;
}

section:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url(/assets/skimming-stone-asteroid-meta.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

mwlResizable {
  box-sizing: border-box;
}

::ng-deep
  .mat-sort-header-container:not(.mat-sort-header-sorted)
  .mat-sort-header-arrow {
  opacity: 0.54 !important;
  transform: translateY(0px) !important;
}

.mat-column-rang {
  width: 70px;
  max-width: 70px;
}

.mat-column-name {
  width: 300px;
  max-width: 300px;
}

.mat-column-population {
  width: 115px;
  max-width: 115px;
}

.mat-column-federalStateName {
  width: 270px;
  max-width: 270px;
}

ion-checkbox {
  --size: 18px;
}

ion-item {
 /* --padding-top:0px;
 --padding-bottom:0px;
 --padding-start:0px;
 --padding-end:0px;
 --inner-padding-top:0px;
 --inner-padding-bottom:0px;
 --inner-padding-start:0px;
 --inner-padding-end:0px; */
 --min-height:0px;
}
